{:index 0, :time 16871014, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 23525590, :type :invoke, :process 5, :f :write, :value [0 2]}
{:index 2, :time 26627255, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 3, :time 26829207, :type :ok, :process 5, :f :write, :value [0 2]}
{:index 4, :time 34326284, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 5, :time 38040030, :type :invoke, :process 5, :f :cas, :value [0 [0 3]]}
{:index 6, :time 42224188, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 7, :time 46708347, :type :ok, :process 5, :f :cas, :value [0 [0 3]]}
{:index 8, :time 58775390, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 9, :time 61574064, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 10, :time 66975012, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 11, :time 67466705, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 12, :time 75793367, :type :invoke, :process 6, :f :write, :value [0 4]}
{:index 13, :time 83285358, :type :invoke, :process 7, :f :write, :value [0 0]}
{:index 14, :time 84337133, :type :ok, :process 6, :f :write, :value [0 4]}
{:index 15, :time 89953200, :type :ok, :process 7, :f :write, :value [0 0]}
{:index 16, :time 97389402, :type :invoke, :process 8, :f :cas, :value [0 [3 3]]}
{:index 17, :time 106225796, :type :ok, :process 8, :f :cas, :value [0 [3 3]]}
{:index 18, :time 111186608, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 19, :time 118200274, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 20, :time 121860873, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 21, :time 126605931, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 22, :time 127192849, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 23, :time 132683110, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 24, :time 134244231, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 25, :time 139290805, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 26, :time 150492991, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 27, :time 152598187, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 28, :time 160451169, :type :invoke, :process 5, :f :cas, :value [0 [1 4]]}
{:index 29, :time 162378332, :type :ok, :process 5, :f :cas, :value [0 [1 4]]}
{:index 30, :time 164683450, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 31, :time 166060470, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 32, :time 175503804, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 33, :time 181883696, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 34, :time 185703101, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 35, :time 192162787, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 36, :time 203262167, :type :invoke, :process 7, :f :cas, :value [0 [3 1]]}
{:index 37, :time 207630519, :type :ok, :process 7, :f :cas, :value [0 [3 1]]}
{:index 38, :time 220044022, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 39, :time 225553257, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 40, :time 235895135, :type :invoke, :process 9, :f :write, :value [0 4]}
{:index 41, :time 243088785, :type :ok, :process 9, :f :write, :value [0 4]}
{:index 42, :time 255225329, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 43, :time 261334993, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 44, :time 270078383, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 45, :time 273940922, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 46, :time 277603103, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 47, :time 281793751, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 48, :time 289275421, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 49, :time 294053468, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 50, :time 299322424, :type :invoke, :process 5, :f :cas, :value [0 [3 3]]}
{:index 51, :time 304309819, :type :ok, :process 5, :f :cas, :value [0 [3 3]]}
{:index 52, :time 313701252, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 53, :time 318726392, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 54, :time 327298869, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 55, :time 331883837, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 56, :time 338220935, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 57, :time 343514391, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 58, :time 351171361, :type :invoke, :process 7, :f :cas, :value [0 [0 0]]}
{:index 59, :time 356838980, :type :ok, :process 7, :f :cas, :value [0 [0 0]]}
{:index 60, :time 371517564, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 61, :time 379639302, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 62, :time 391330163, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 63, :time 396346046, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 64, :time 399527208, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 65, :time 404741933, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 66, :time 409668305, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 67, :time 414779909, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 68, :time 414941263, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 69, :time 419658226, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 70, :time 435235986, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 71, :time 440311863, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 72, :time 448448071, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 73, :time 452388468, :type :invoke, :process 5, :f :cas, :value [0 [0 4]]}
{:index 74, :time 455683581, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 75, :time 458509333, :type :ok, :process 5, :f :cas, :value [0 [0 4]]}
{:index 76, :time 464664420, :type :invoke, :process 5, :f :cas, :value [0 [0 1]]}
{:index 77, :time 468114170, :type :invoke, :process 6, :f :write, :value [0 2]}
{:index 78, :time 470623874, :type :ok, :process 5, :f :cas, :value [0 [0 1]]}
{:index 79, :time 474099973, :type :ok, :process 6, :f :write, :value [0 2]}
{:index 80, :time 482163464, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 81, :time 484895791, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 82, :time 487685555, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 83, :time 489086075, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 84, :time 492423609, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 85, :time 495573171, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 86, :time 507026264, :type :invoke, :process 5, :f :cas, :value [0 [3 1]]}
{:index 87, :time 509665337, :type :ok, :process 5, :f :cas, :value [0 [3 1]]}
{:index 88, :time 518685112, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 89, :time 521177830, :type :invoke, :process 5, :f :cas, :value [0 [2 3]]}
{:index 90, :time 522203485, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 91, :time 523770072, :type :ok, :process 5, :f :cas, :value [0 [2 3]]}
{:index 92, :time 526888892, :type :invoke, :process 5, :f :write, :value [0 2]}
{:index 93, :time 529781989, :type :ok, :process 5, :f :write, :value [0 2]}
{:index 94, :time 542113099, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 95, :time 544645963, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 96, :time 546716115, :type :invoke, :process 5, :f :cas, :value [0 [1 1]]}
{:index 97, :time 550431879, :type :ok, :process 5, :f :cas, :value [0 [1 1]]}
{:index 98, :time 564378996, :type :invoke, :process 5, :f :cas, :value [0 [2 2]]}
{:index 99, :time 568886051, :type :ok, :process 5, :f :cas, :value [0 [2 2]]}
{:index 100, :time 579742398, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 101, :time 585798325, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 102, :time 590773610, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 103, :time 596900786, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 104, :time 609213582, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 105, :time 616347231, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 106, :time 618452748, :type :invoke, :process 9, :f :cas, :value [0 [1 0]]}
{:index 107, :time 624807283, :type :ok, :process 9, :f :cas, :value [0 [1 0]]}
{:index 108, :time 627647265, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 109, :time 629183139, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 110, :time 632924971, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 111, :time 633260618, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 112, :time 648535215, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 113, :time 655106786, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 114, :time 670031348, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 115, :time 676147930, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 116, :time 680036102, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 117, :time 685878185, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 118, :time 694800325, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 119, :time 701206944, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
{:index 120, :time 715620649, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 121, :time 722150058, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 122, :time 735755397, :type :invoke, :process 6, :f :write, :value [0 0]}
{:index 123, :time 742237469, :type :ok, :process 6, :f :write, :value [0 0]}
{:index 124, :time 748991896, :type :invoke, :process 7, :f :cas, :value [0 [4 3]]}
{:index 125, :time 751578789, :type :invoke, :process 8, :f :cas, :value [0 [4 0]]}
{:index 126, :time 755413742, :type :ok, :process 7, :f :cas, :value [0 [4 3]]}
{:index 127, :time 757375953, :type :ok, :process 8, :f :cas, :value [0 [4 0]]}
{:index 128, :time 761401848, :type :invoke, :process 9, :f :cas, :value [0 [4 1]]}
{:index 129, :time 767564515, :type :ok, :process 9, :f :cas, :value [0 [4 1]]}
{:index 130, :time 769422095, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 131, :time 776769054, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 132, :time 783597695, :type :invoke, :process 5, :f :cas, :value [0 [0 1]]}
{:index 133, :time 790784258, :type :ok, :process 5, :f :cas, :value [0 [0 1]]}
{:index 134, :time 791025953, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 135, :time 797102173, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 136, :time 802540442, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 137, :time 808806777, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 138, :time 816516384, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 139, :time 823183003, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 140, :time 837579705, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 141, :time 845539612, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 142, :time 846042281, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 143, :time 849365005, :type :invoke, :process 6, :f :write, :value [0 3]}
{:index 144, :time 852804596, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 145, :time 855137646, :type :ok, :process 6, :f :write, :value [0 3]}
{:index 146, :time 855401115, :type :invoke, :process 7, :f :cas, :value [0 [1 0]]}
{:index 147, :time 858273492, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 148, :time 860715373, :type :ok, :process 7, :f :cas, :value [0 [1 0]]}
{:index 149, :time 862457708, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 150, :time 864386216, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 151, :time 866657576, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 152, :time 868811099, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 153, :time 871108874, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 154, :time 876312750, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 155, :time 880318772, :type :invoke, :process 5, :f :cas, :value [0 [1 2]]}
{:index 156, :time 882896566, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 157, :time 885413784, :type :ok, :process 5, :f :cas, :value [0 [1 2]]}
{:index 158, :time 896247532, :type :invoke, :process 5, :f :write, :value [0 4]}
{:index 159, :time 902644180, :type :ok, :process 5, :f :write, :value [0 4]}
{:index 160, :time 916705406, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 161, :time 921185360, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 162, :time 925350212, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 163, :time 930268663, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 164, :time 930480108, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 165, :time 935978465, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 166, :time 945576957, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 167, :time 950294328, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 168, :time 963821045, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 169, :time 969038599, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 170, :time 974016992, :type :invoke, :process 8, :f :cas, :value [0 [4 4]]}
{:index 171, :time 978951476, :type :ok, :process 8, :f :cas, :value [0 [4 4]]}
{:index 172, :time 992564457, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 173, :time 998082520, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 174, :time 999305206, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 175, :time 1002938458, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 176, :time 1016031482, :type :invoke, :process 5, :f :write, :value [0 0]}
{:index 177, :time 1020916617, :type :ok, :process 5, :f :write, :value [0 0]}
