{:index 0, :time 12672444, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 22049269, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 2, :time 30820038, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 3, :time 32939700, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 4, :time 44520332, :type :invoke, :process 5, :f :cas, :value [0 [0 0]]}
{:index 5, :time 47203938, :type :ok, :process 5, :f :cas, :value [0 [0 0]]}
{:index 6, :time 61305645, :type :invoke, :process 5, :f :cas, :value [0 [2 2]]}
{:index 7, :time 63252748, :type :ok, :process 5, :f :cas, :value [0 [2 2]]}
{:index 8, :time 77460943, :type :invoke, :process 5, :f :cas, :value [0 [4 1]]}
{:index 9, :time 79205771, :type :ok, :process 5, :f :cas, :value [0 [4 1]]}
{:index 10, :time 79612029, :type :invoke, :process 5, :f :cas, :value [0 [4 2]]}
{:index 11, :time 80848846, :type :ok, :process 5, :f :cas, :value [0 [4 2]]}
{:index 12, :time 87380079, :type :invoke, :process 6, :f :write, :value [0 1]}
{:index 13, :time 89119902, :type :ok, :process 6, :f :write, :value [0 1]}
{:index 14, :time 95412218, :type :invoke, :process 7, :f :cas, :value [0 [2 2]]}
{:index 15, :time 97456327, :type :ok, :process 7, :f :cas, :value [0 [2 2]]}
{:index 16, :time 100806577, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 17, :time 102090254, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 18, :time 102878974, :type :invoke, :process 9, :f :cas, :value [0 [4 4]]}
{:index 19, :time 104395696, :type :ok, :process 9, :f :cas, :value [0 [4 4]]}
{:index 20, :time 109330833, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 21, :time 110468755, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 22, :time 119603907, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 23, :time 121241532, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 24, :time 132998337, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 25, :time 137045493, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 26, :time 138437653, :type :invoke, :process 6, :f :cas, :value [0 [0 0]]}
{:index 27, :time 139403185, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 28, :time 141311884, :type :invoke, :process 5, :f :cas, :value [0 [1 4]]}
{:index 29, :time 143476933, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 30, :time 143713866, :type :ok, :process 6, :f :cas, :value [0 [0 0]]}
{:index 31, :time 145909198, :type :ok, :process 5, :f :cas, :value [0 [1 4]]}
{:index 32, :time 161302888, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 33, :time 165921593, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 34, :time 167177528, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 35, :time 170669161, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 36, :time 177606914, :type :invoke, :process 7, :f :cas, :value [0 [4 1]]}
{:index 37, :time 182509836, :type :ok, :process 7, :f :cas, :value [0 [4 1]]}
{:index 38, :time 197701814, :type :invoke, :process 8, :f :cas, :value [0 [3 3]]}
{:index 39, :time 203817262, :type :ok, :process 8, :f :cas, :value [0 [3 3]]}
{:index 40, :time 218465133, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 41, :time 220827108, :type :invoke, :process 5, :f :write, :value [0 4]}
{:index 42, :time 222746947, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 43, :time 224769960, :type :ok, :process 5, :f :write, :value [0 4]}
{:index 44, :time 238890818, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 45, :time 242601783, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 46, :time 247477795, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 47, :time 251864711, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
{:index 48, :time 256818517, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 49, :time 261401246, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 50, :time 268531119, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 51, :time 273682395, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 52, :time 288460111, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 53, :time 293957872, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 54, :time 303287075, :type :invoke, :process 5, :f :cas, :value [0 [4 0]]}
{:index 55, :time 307442511, :type :ok, :process 5, :f :cas, :value [0 [4 0]]}
{:index 56, :time 322657436, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 57, :time 324521492, :type :invoke, :process 7, :f :cas, :value [0 [3 4]]}
{:index 58, :time 325181132, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 59, :time 327652929, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 60, :time 330762966, :type :ok, :process 7, :f :cas, :value [0 [3 4]]}
{:index 61, :time 331018871, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 62, :time 335871889, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 63, :time 340579752, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 64, :time 351166581, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 65, :time 355402064, :type :invoke, :process 5, :f :cas, :value [0 [3 1]]}
{:index 66, :time 356413614, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 67, :time 359328111, :type :ok, :process 5, :f :cas, :value [0 [3 1]]}
{:index 68, :time 366960628, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 69, :time 370878958, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 70, :time 377445108, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 71, :time 381450715, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
{:index 72, :time 396451828, :type :invoke, :process 5, :f :cas, :value [0 [3 3]]}
{:index 73, :time 400662396, :type :ok, :process 5, :f :cas, :value [0 [3 3]]}
{:index 74, :time 402388591, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 75, :time 406190029, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 76, :time 417870478, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 77, :time 421634567, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 78, :time 427687392, :type :invoke, :process 6, :f :cas, :value [0 [1 4]]}
{:index 79, :time 431790516, :type :ok, :process 6, :f :cas, :value [0 [1 4]]}
{:index 80, :time 438758481, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 81, :time 442581803, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 82, :time 448708207, :type :invoke, :process 8, :f :cas, :value [0 [1 0]]}
{:index 83, :time 452450480, :type :ok, :process 8, :f :cas, :value [0 [1 0]]}
{:index 84, :time 458974302, :type :invoke, :process 9, :f :write, :value [0 2]}
{:index 85, :time 463316287, :type :ok, :process 9, :f :write, :value [0 2]}
{:index 86, :time 469374713, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 87, :time 473195439, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 88, :time 484920102, :type :invoke, :process 5, :f :cas, :value [0 [2 1]]}
{:index 89, :time 489320795, :type :ok, :process 5, :f :cas, :value [0 [2 1]]}
{:index 90, :time 489493765, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 91, :time 492851038, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 92, :time 506453077, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 93, :time 510725432, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 94, :time 516682037, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 95, :time 520395165, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 96, :time 521969791, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 97, :time 525528062, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 98, :time 525701676, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 99, :time 529115047, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 100, :time 529840423, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 101, :time 532785082, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 102, :time 547606165, :type :invoke, :process 7, :f :cas, :value [0 [0 0]]}
{:index 103, :time 549715417, :type :invoke, :process 8, :f :write, :value [0 2]}
{:index 104, :time 552095233, :type :ok, :process 7, :f :cas, :value [0 [0 0]]}
{:index 105, :time 553461574, :type :ok, :process 8, :f :write, :value [0 2]}
{:index 106, :time 557644302, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 107, :time 561428553, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 108, :time 568585970, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 109, :time 569368830, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 110, :time 572484547, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 111, :time 572775902, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 112, :time 588839149, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 113, :time 592434340, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 114, :time 594389016, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 115, :time 596714584, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 116, :time 600130156, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 117, :time 604149444, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 118, :time 614064708, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 119, :time 617853001, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 120, :time 634144804, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 121, :time 638232149, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 122, :time 646008873, :type :invoke, :process 6, :f :cas, :value [0 [0 2]]}
{:index 123, :time 649349873, :type :ok, :process 6, :f :cas, :value [0 [0 2]]}
{:index 124, :time 662039087, :type :invoke, :process 7, :f :cas, :value [0 [3 4]]}
{:index 125, :time 665538935, :type :ok, :process 7, :f :cas, :value [0 [3 4]]}
{:index 126, :time 671865205, :type :invoke, :process 8, :f :cas, :value [0 [3 0]]}
{:index 127, :time 674914123, :type :ok, :process 8, :f :cas, :value [0 [3 0]]}
{:index 128, :time 676832235, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 129, :time 680313863, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 130, :time 690984563, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 131, :time 694777307, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 132, :time 705504969, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 133, :time 709134296, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 134, :time 710008261, :type :invoke, :process 5, :f :cas, :value [0 [0 1]]}
{:index 135, :time 713282542, :type :ok, :process 5, :f :cas, :value [0 [0 1]]}
{:index 136, :time 716023103, :type :invoke, :process 5, :f :cas, :value [0 [4 1]]}
{:index 137, :time 719404928, :type :ok, :process 5, :f :cas, :value [0 [4 1]]}
{:index 138, :time 722481128, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 139, :time 726157267, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 140, :time 733323146, :type :invoke, :process 5, :f :write, :value [0 4]}
{:index 141, :time 736778865, :type :ok, :process 5, :f :write, :value [0 4]}
{:index 142, :time 746865415, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 143, :time 750522168, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 144, :time 754046996, :type :invoke, :process 6, :f :write, :value [0 1]}
{:index 145, :time 757078811, :type :ok, :process 6, :f :write, :value [0 1]}
{:index 146, :time 769063295, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 147, :time 772305449, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 148, :time 786708830, :type :invoke, :process 8, :f :cas, :value [0 [3 1]]}
{:index 149, :time 790162687, :type :ok, :process 8, :f :cas, :value [0 [3 1]]}
{:index 150, :time 806856691, :type :invoke, :process 9, :f :cas, :value [0 [1 3]]}
{:index 151, :time 810539402, :type :ok, :process 9, :f :cas, :value [0 [1 3]]}
{:index 152, :time 816410405, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 153, :time 817764037, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 154, :time 819484687, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 155, :time 820784854, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 156, :time 835561924, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 157, :time 838500636, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 158, :time 844189725, :type :invoke, :process 5, :f :write, :value [0 3]}
{:index 159, :time 847693517, :type :ok, :process 5, :f :write, :value [0 3]}
{:index 160, :time 863179730, :type :invoke, :process 5, :f :cas, :value [0 [4 2]]}
{:index 161, :time 866579062, :type :ok, :process 5, :f :cas, :value [0 [4 2]]}
{:index 162, :time 874944332, :type :invoke, :process 5, :f :cas, :value [0 [4 0]]}
{:index 163, :time 877960980, :type :ok, :process 5, :f :cas, :value [0 [4 0]]}
{:index 164, :time 879001626, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 165, :time 881881998, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
{:index 166, :time 892199006, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 167, :time 895563257, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 168, :time 911035217, :type :invoke, :process 7, :f :write, :value [0 0]}
{:index 169, :time 914567781, :type :ok, :process 7, :f :write, :value [0 0]}
{:index 170, :time 919608966, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 171, :time 921925902, :type :invoke, :process 9, :f :write, :value [0 2]}
{:index 172, :time 923022171, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 173, :time 924924042, :type :ok, :process 9, :f :write, :value [0 2]}
{:index 174, :time 934502560, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 175, :time 937520477, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 176, :time 946679063, :type :invoke, :process 5, :f :cas, :value [0 [2 1]]}
{:index 177, :time 950163825, :type :ok, :process 5, :f :cas, :value [0 [2 1]]}
{:index 178, :time 954030745, :type :invoke, :process 5, :f :cas, :value [0 [2 2]]}
{:index 179, :time 957282944, :type :ok, :process 5, :f :cas, :value [0 [2 2]]}
{:index 180, :time 967312137, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 181, :time 971040659, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 182, :time 975427221, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 183, :time 979083423, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 184, :time 985768587, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 185, :time 989135761, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 186, :time 1004313706, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 187, :time 1008592479, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
