{:index 0, :time 9250686, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 24907681, :type :invoke, :process 1, :f :cas, :value [0 [3 3]]}
{:index 2, :time 26688010, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 3, :time 29509765, :type :fail, :process 1, :f :cas, :value [0 [3 3]], :error [:key-does-not-exist "key does not exist"]}
{:index 4, :time 31773520, :type :invoke, :process 1, :f :cas, :value [0 [1 1]]}
{:index 5, :time 43732087, :type :fail, :process 1, :f :cas, :value [0 [1 1]], :error [:key-does-not-exist "key does not exist"]}
{:index 6, :time 49117442, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 7, :time 50830098, :type :invoke, :process 1, :f :cas, :value [0 [3 0]]}
{:index 8, :time 69831512, :type :fail, :process 1, :f :cas, :value [0 [3 0]], :error [:key-does-not-exist "key does not exist"]}
{:index 9, :time 70074909, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 10, :time 70303548, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 11, :time 87305441, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 12, :time 94048477, :type :fail, :process 0, :f :read, :value [0 nil], :error [:key-does-not-exist "key does not exist"]}
{:index 13, :time 97507777, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 14, :time 105988387, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 15, :time 108757849, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 16, :time 125522455, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 17, :time 126529343, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 18, :time 131199852, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 19, :time 132366281, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 20, :time 141738597, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 21, :time 142341647, :type :invoke, :process 1, :f :cas, :value [0 [4 3]]}
{:index 22, :time 152844230, :type :ok, :process 1, :f :cas, :value [0 [4 3]]}
{:index 23, :time 153672968, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 24, :time 154036664, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 25, :time 173214627, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 26, :time 177087105, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 27, :time 177782495, :type :invoke, :process 1, :f :cas, :value [0 [2 0]]}
{:index 28, :time 186548419, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 29, :time 187141901, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 30, :time 190035810, :type :fail, :process 1, :f :cas, :value [0 [2 0]], :error [:precondition-failed "precondition failed"]}
{:index 31, :time 192176536, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 32, :time 206019575, :type :invoke, :process 1, :f :cas, :value [0 [4 0]]}
{:index 33, :time 209374588, :type :fail, :process 1, :f :cas, :value [0 [4 0]], :error [:precondition-failed "precondition failed"]}
{:index 34, :time 223896163, :type :invoke, :process 1, :f :cas, :value [0 [1 4]]}
{:index 35, :time 230697669, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 36, :time 237585934, :type :fail, :process 1, :f :cas, :value [0 [1 4]], :error [:precondition-failed "precondition failed"]}
{:index 37, :time 238204493, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 38, :time 245091460, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 39, :time 252311183, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 40, :time 260301182, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 41, :time 261141679, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 42, :time 275359877, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 43, :time 276285965, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 44, :time 284346649, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 45, :time 284682119, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 46, :time 285934014, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 47, :time 289364205, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 48, :time 292627451, :type :invoke, :process 1, :f :cas, :value [0 [2 4]]}
{:index 49, :time 296956529, :type :fail, :process 1, :f :cas, :value [0 [2 4]], :error [:precondition-failed "precondition failed"]}
{:index 50, :time 302985009, :type :invoke, :process 1, :f :cas, :value [0 [4 2]]}
{:index 51, :time 307280713, :type :fail, :process 1, :f :cas, :value [0 [4 2]], :error [:precondition-failed "precondition failed"]}
{:index 52, :time 316326825, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 53, :time 319599935, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 54, :time 336818431, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 55, :time 342640518, :type :invoke, :process 1, :f :cas, :value [0 [3 4]]}
{:index 56, :time 355129471, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 57, :time 360085330, :type :fail, :process 1, :f :cas, :value [0 [3 4]], :error [:precondition-failed "precondition failed"]}
{:index 58, :time 362991652, :type :invoke, :process 1, :f :cas, :value [0 [2 1]]}
{:index 59, :time 366912641, :type :fail, :process 1, :f :cas, :value [0 [2 1]], :error [:precondition-failed "precondition failed"]}
{:index 60, :time 370655693, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 61, :time 371445142, :type :invoke, :process 1, :f :cas, :value [0 [1 0]]}
{:index 62, :time 372564800, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 63, :time 373664118, :type :fail, :process 1, :f :cas, :value [0 [1 0]], :error [:precondition-failed "precondition failed"]}
{:index 64, :time 375758440, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 65, :time 377712674, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 66, :time 391511024, :type :invoke, :process 1, :f :cas, :value [0 [3 4]]}
{:index 67, :time 395968787, :type :fail, :process 1, :f :cas, :value [0 [3 4]], :error [:precondition-failed "precondition failed"]}
{:index 68, :time 410213443, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 69, :time 419013807, :type :invoke, :process 1, :f :cas, :value [0 [1 3]]}
{:index 70, :time 431453098, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 71, :time 432162888, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 72, :time 449597168, :type :fail, :process 1, :f :cas, :value [0 [1 3]], :error [:precondition-failed "precondition failed"]}
{:index 73, :time 450093164, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 74, :time 450253687, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 75, :time 461444017, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 76, :time 469255777, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 77, :time 472770307, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 78, :time 473780949, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 79, :time 476453426, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 80, :time 479472978, :type :invoke, :process 1, :f :cas, :value [0 [4 2]]}
{:index 81, :time 480763468, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 82, :time 483350935, :type :fail, :process 1, :f :cas, :value [0 [4 2]], :error [:precondition-failed "precondition failed"]}
{:index 83, :time 483756803, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 84, :time 493054117, :type :invoke, :process 1, :f :cas, :value [0 [1 0]]}
{:index 85, :time 496127255, :type :fail, :process 1, :f :cas, :value [0 [1 0]], :error [:precondition-failed "precondition failed"]}
{:index 86, :time 505789061, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 87, :time 517194881, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 88, :time 520585643, :type :invoke, :process 1, :f :cas, :value [0 [3 1]]}
{:index 89, :time 528427171, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 90, :time 556210350, :type :fail, :process 1, :f :cas, :value [0 [3 1]], :error [:precondition-failed "precondition failed"]}
{:index 91, :time 556931514, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 92, :time 563267215, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 93, :time 573810174, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 94, :time 574288445, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 95, :time 579562171, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 96, :time 593778792, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 97, :time 595870932, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 98, :time 610574894, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 99, :time 623811811, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 100, :time 629998873, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 101, :time 647780420, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 102, :time 651735366, :type :fail, :process 1, :f :cas, :value [0 [4 4]], :error [:precondition-failed "precondition failed"]}
{:index 103, :time 661568318, :type :invoke, :process 1, :f :cas, :value [0 [4 3]]}
{:index 104, :time 667085590, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 105, :time 681333299, :type :fail, :process 1, :f :cas, :value [0 [4 3]], :error [:precondition-failed "precondition failed"]}
{:index 106, :time 681809353, :type :invoke, :process 1, :f :cas, :value [0 [0 1]]}
{:index 107, :time 687330680, :type :ok, :process 1, :f :cas, :value [0 [0 1]]}
{:index 108, :time 699259260, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 109, :time 701671506, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 110, :time 707507274, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 111, :time 709076215, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 112, :time 722475692, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 113, :time 731042679, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 114, :time 734906189, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 115, :time 739975246, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 116, :time 750974322, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 117, :time 757433849, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 118, :time 767352972, :type :ok, :process 1, :f :cas, :value [0 [4 4]]}
{:index 119, :time 773227714, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 120, :time 777896535, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 121, :time 787278388, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 122, :time 795592803, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 123, :time 797601389, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 124, :time 813822032, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 125, :time 816020499, :type :ok, :process 0, :f :read, :value [0 3]}
{:index 126, :time 823257867, :type :invoke, :process 1, :f :cas, :value [0 [1 1]]}
{:index 127, :time 835054295, :type :fail, :process 1, :f :cas, :value [0 [1 1]], :error [:precondition-failed "precondition failed"]}
{:index 128, :time 840865942, :type :invoke, :process 1, :f :cas, :value [0 [3 4]]}
{:index 129, :time 841831005, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 130, :time 852695855, :type :ok, :process 1, :f :cas, :value [0 [3 4]]}
{:index 131, :time 853594689, :type :invoke, :process 1, :f :cas, :value [0 [2 0]]}
{:index 132, :time 856138635, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 133, :time 871094095, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 134, :time 877170997, :type :fail, :process 1, :f :cas, :value [0 [2 0]], :error [:precondition-failed "precondition failed"]}
{:index 135, :time 889253921, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 136, :time 889804273, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 137, :time 897266246, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 138, :time 898149700, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 139, :time 899737345, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 140, :time 902298090, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 141, :time 907719651, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 142, :time 916814392, :type :invoke, :process 1, :f :cas, :value [0 [3 2]]}
{:index 143, :time 919642621, :type :fail, :process 1, :f :cas, :value [0 [3 2]], :error [:precondition-failed "precondition failed"]}
{:index 144, :time 921115515, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 145, :time 921708243, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 146, :time 922978099, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 147, :time 923372866, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 148, :time 936486976, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 149, :time 938886005, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 150, :time 940824227, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 151, :time 945633182, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 152, :time 957328420, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 153, :time 960658505, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 154, :time 972355240, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 155, :time 972573687, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 156, :time 972646340, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 157, :time 979986013, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 158, :time 985899412, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 159, :time 992648015, :type :ok, :process 0, :f :read, :value [0 4]}
{:index 160, :time 996545562, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 161, :time 1000730295, :type :ok, :process 1, :f :write, :value [0 3]}
