{:index 0, :time 6644070, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 14790029, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 2, :time 21058086, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 3, :time 33494635, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 4, :time 34127009, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 5, :time 41447888, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 6, :time 54438061, :type :invoke, :process 1, :f :cas, :value [0 [3 1]]}
{:index 7, :time 59415025, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 8, :time 74409516, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 9, :time 75630211, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 10, :time 80094244, :type :ok, :process 1, :f :cas, :value [0 [3 1]]}
{:index 11, :time 88081691, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 12, :time 90801157, :type :invoke, :process 1, :f :cas, :value [0 [1 4]]}
{:index 13, :time 94724233, :type :ok, :process 1, :f :cas, :value [0 [1 4]]}
{:index 14, :time 102677500, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 15, :time 104274874, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 16, :time 110575924, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 17, :time 112094220, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 18, :time 129427203, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 19, :time 138166337, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 20, :time 138346290, :type :invoke, :process 1, :f :cas, :value [0 [0 1]]}
{:index 21, :time 142958887, :type :ok, :process 1, :f :cas, :value [0 [0 1]]}
{:index 22, :time 153598915, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 23, :time 168863410, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 24, :time 177699560, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 25, :time 186416971, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 26, :time 189582828, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 27, :time 196892313, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 28, :time 206779335, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 29, :time 209436145, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 30, :time 217650575, :type :invoke, :process 1, :f :cas, :value [0 [0 1]]}
{:index 31, :time 219820193, :type :ok, :process 1, :f :cas, :value [0 [0 1]]}
{:index 32, :time 225964552, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 33, :time 227433927, :type :invoke, :process 1, :f :cas, :value [0 [0 2]]}
{:index 34, :time 228338344, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 35, :time 228745183, :type :ok, :process 1, :f :cas, :value [0 [0 2]]}
{:index 36, :time 240249655, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 37, :time 244202078, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 38, :time 250166022, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 39, :time 253180128, :type :invoke, :process 1, :f :cas, :value [0 [0 1]]}
{:index 40, :time 262986928, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 41, :time 264427371, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 42, :time 272961340, :type :ok, :process 1, :f :cas, :value [0 [0 1]]}
{:index 43, :time 274539403, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 44, :time 283392896, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 45, :time 288453523, :type :invoke, :process 1, :f :cas, :value [0 [1 3]]}
{:index 46, :time 292403164, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 47, :time 295034600, :type :ok, :process 1, :f :cas, :value [0 [1 3]]}
{:index 48, :time 308983042, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 49, :time 310288786, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 50, :time 324518670, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 51, :time 325388313, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 52, :time 329431703, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 53, :time 330436969, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 54, :time 338728582, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 55, :time 341784627, :type :invoke, :process 1, :f :cas, :value [0 [3 0]]}
{:index 56, :time 343333384, :type :ok, :process 1, :f :cas, :value [0 [3 0]]}
{:index 57, :time 343596664, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 58, :time 351248770, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 59, :time 353225818, :type :invoke, :process 1, :f :cas, :value [0 [1 4]]}
{:index 60, :time 369617539, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 61, :time 373876741, :type :ok, :process 1, :f :cas, :value [0 [1 4]]}
{:index 62, :time 374719975, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 63, :time 385148548, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 64, :time 386200879, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 65, :time 397011527, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 66, :time 402983122, :type :invoke, :process 1, :f :cas, :value [0 [1 0]]}
{:index 67, :time 405244094, :type :ok, :process 1, :f :cas, :value [0 [1 0]]}
{:index 68, :time 412774013, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 69, :time 415715114, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 70, :time 431136103, :type :invoke, :process 1, :f :cas, :value [0 [4 1]]}
{:index 71, :time 435666572, :type :ok, :process 1, :f :cas, :value [0 [4 1]]}
{:index 72, :time 444064637, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 73, :time 450996214, :type :invoke, :process 1, :f :cas, :value [0 [0 4]]}
{:index 74, :time 453520212, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 75, :time 457126075, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 76, :time 459336527, :type :ok, :process 1, :f :cas, :value [0 [0 4]]}
{:index 77, :time 461501879, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 78, :time 469037953, :type :invoke, :process 1, :f :cas, :value [0 [3 3]]}
{:index 79, :time 470777399, :type :ok, :process 1, :f :cas, :value [0 [3 3]]}
{:index 80, :time 483978515, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 81, :time 485607283, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 82, :time 487996931, :type :invoke, :process 1, :f :cas, :value [0 [2 1]]}
{:index 83, :time 489349132, :type :ok, :process 1, :f :cas, :value [0 [2 1]]}
{:index 84, :time 499977937, :type :invoke, :process 1, :f :cas, :value [0 [4 1]]}
{:index 85, :time 511069078, :type :ok, :process 1, :f :cas, :value [0 [4 1]]}
{:index 86, :time 517929551, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 87, :time 524243431, :type :invoke, :process 1, :f :cas, :value [0 [1 0]]}
{:index 88, :time 530288816, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 89, :time 530688062, :type :ok, :process 1, :f :cas, :value [0 [1 0]]}
{:index 90, :time 530909727, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 91, :time 534710460, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 92, :time 550371024, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 93, :time 555591167, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 94, :time 559923699, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 95, :time 561979916, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 96, :time 571886953, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 97, :time 574609672, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 98, :time 585694256, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 99, :time 587813569, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 100, :time 593492047, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 101, :time 604359200, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 102, :time 608312095, :type :invoke, :process 1, :f :cas, :value [0 [3 4]]}
{:index 103, :time 611009033, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 104, :time 632598619, :type :ok, :process 1, :f :cas, :value [0 [3 4]]}
{:index 105, :time 633656323, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 106, :time 641264594, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 107, :time 649829528, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 108, :time 654526323, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 109, :time 668167004, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 110, :time 672293967, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 111, :time 672713269, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 112, :time 682130522, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 113, :time 683699739, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 114, :time 692919231, :type :invoke, :process 1, :f :cas, :value [0 [2 1]]}
{:index 115, :time 694213185, :type :ok, :process 1, :f :cas, :value [0 [2 1]]}
{:index 116, :time 706949348, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 117, :time 714172718, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 118, :time 724892694, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 119, :time 726407322, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 120, :time 731591805, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 121, :time 733691969, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 122, :time 743602766, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 123, :time 748970322, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 124, :time 763305367, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 125, :time 765240798, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 126, :time 774269049, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 127, :time 783769381, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 128, :time 793010405, :type :invoke, :process 1, :f :cas, :value [0 [0 0]]}
{:index 129, :time 802602093, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 130, :time 807001577, :type :ok, :process 1, :f :cas, :value [0 [0 0]]}
{:index 131, :time 811936299, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 132, :time 816554071, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 133, :time 818890305, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 134, :time 819633759, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 135, :time 820698180, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 136, :time 835681865, :type :invoke, :process 1, :f :cas, :value [0 [1 4]]}
{:index 137, :time 837010089, :type :ok, :process 1, :f :cas, :value [0 [1 4]]}
{:index 138, :time 839710395, :type :invoke, :process 1, :f :cas, :value [0 [0 4]]}
{:index 139, :time 840216963, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 140, :time 840792724, :type :ok, :process 1, :f :cas, :value [0 [0 4]]}
{:index 141, :time 841180102, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 142, :time 847571845, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 143, :time 854042769, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 144, :time 861928151, :type :invoke, :process 1, :f :cas, :value [0 [1 0]]}
{:index 145, :time 867299485, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 146, :time 870783989, :type :ok, :process 1, :f :cas, :value [0 [1 0]]}
{:index 147, :time 874848829, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 148, :time 886622698, :type :invoke, :process 1, :f :cas, :value [0 [0 2]]}
{:index 149, :time 889545614, :type :ok, :process 1, :f :cas, :value [0 [0 2]]}
{:index 150, :time 906299965, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 151, :time 907855878, :type :ok, :process 1, :f :cas, :value [0 [4 4]]}
{:index 152, :time 919841305, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 153, :time 921025345, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 154, :time 928435797, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 155, :time 929516868, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 156, :time 935131586, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 157, :time 935422269, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 158, :time 935537873, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 159, :time 938452504, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 160, :time 944475583, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 161, :time 946344438, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 162, :time 956915756, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 163, :time 961605604, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 164, :time 965611629, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 165, :time 967503327, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 166, :time 979480304, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 167, :time 980428671, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 168, :time 981082884, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 169, :time 981472711, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 170, :time 1000244141, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 171, :time 1003387977, :type :invoke, :process 1, :f :cas, :value [0 [4 2]]}
{:index 172, :time 1005080595, :type :ok, :process 1, :f :cas, :value [0 [4 2]]}
{:index 173, :time 1005400905, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 174, :time 1005456209, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 175, :time 1008384152, :type :ok, :process 0, :f :read, :value [0 0]}
