{:index 0, :time 11191180, :type :invoke, :process 5, :f :cas, :value [0 [2 3]]}
{:index 1, :time 20129149, :type :ok, :process 5, :f :cas, :value [0 [2 3]]}
{:index 2, :time 31249806, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 3, :time 33461420, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
{:index 4, :time 33561102, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 5, :time 36147501, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 6, :time 49078651, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 7, :time 51725122, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 8, :time 69237402, :type :invoke, :process 5, :f :cas, :value [0 [4 4]]}
{:index 9, :time 71329673, :type :ok, :process 5, :f :cas, :value [0 [4 4]]}
{:index 10, :time 89493661, :type :invoke, :process 5, :f :cas, :value [0 [3 4]]}
{:index 11, :time 91120423, :type :ok, :process 5, :f :cas, :value [0 [3 4]]}
{:index 12, :time 108436229, :type :invoke, :process 6, :f :write, :value [0 1]}
{:index 13, :time 110705162, :type :ok, :process 6, :f :write, :value [0 1]}
{:index 14, :time 125104560, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 15, :time 127139378, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 16, :time 128816943, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 17, :time 130072524, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 18, :time 130599474, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 19, :time 131848567, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 20, :time 145067391, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 21, :time 147131275, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 22, :time 152997856, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 23, :time 154648774, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 24, :time 167424678, :type :invoke, :process 5, :f :cas, :value [0 [0 0]]}
{:index 25, :time 170054052, :type :ok, :process 5, :f :cas, :value [0 [0 0]]}
{:index 26, :time 185422043, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 27, :time 188398905, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 28, :time 200309204, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 29, :time 205010196, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 30, :time 221090673, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 31, :time 227105711, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 32, :time 234706553, :type :invoke, :process 5, :f :cas, :value [0 [4 1]]}
{:index 33, :time 239011831, :type :ok, :process 5, :f :cas, :value [0 [4 1]]}
{:index 34, :time 254253589, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 35, :time 258723872, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 36, :time 263101288, :type :invoke, :process 7, :f :cas, :value [0 [2 1]]}
{:index 37, :time 268755672, :type :ok, :process 7, :f :cas, :value [0 [2 1]]}
{:index 38, :time 280501880, :type :invoke, :process 8, :f :cas, :value [0 [2 4]]}
{:index 39, :time 284849270, :type :invoke, :process 9, :f :write, :value [0 3]}
{:index 40, :time 286454636, :type :ok, :process 8, :f :cas, :value [0 [2 4]]}
{:index 41, :time 289975800, :type :ok, :process 9, :f :write, :value [0 3]}
{:index 42, :time 297125337, :type :invoke, :process 5, :f :cas, :value [0 [2 0]]}
{:index 43, :time 301671733, :type :ok, :process 5, :f :cas, :value [0 [2 0]]}
{:index 44, :time 308673337, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 45, :time 312834391, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 46, :time 321346076, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 47, :time 326153097, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 48, :time 326457752, :type :invoke, :process 5, :f :write, :value [0 2]}
{:index 49, :time 330490417, :type :ok, :process 5, :f :write, :value [0 2]}
{:index 50, :time 340490412, :type :invoke, :process 5, :f :write, :value [0 2]}
{:index 51, :time 345380049, :type :ok, :process 5, :f :write, :value [0 2]}
{:index 52, :time 353136559, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 53, :time 357480273, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 54, :time 359864573, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 55, :time 363883914, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 56, :time 376402652, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 57, :time 380957158, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 58, :time 390295996, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 59, :time 394735802, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 60, :time 405678848, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 61, :time 410245912, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 62, :time 410467863, :type :invoke, :process 9, :f :write, :value [0 1]}
{:index 63, :time 414314168, :type :ok, :process 9, :f :write, :value [0 1]}
{:index 64, :time 422184904, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 65, :time 426369415, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 66, :time 430438233, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 67, :time 433979658, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 68, :time 440445506, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 69, :time 443648186, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 70, :time 444846482, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 71, :time 447429024, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 72, :time 457611939, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 73, :time 461486013, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 74, :time 474469925, :type :invoke, :process 5, :f :cas, :value [0 [4 2]]}
{:index 75, :time 478309810, :type :ok, :process 5, :f :cas, :value [0 [4 2]]}
{:index 76, :time 488459401, :type :invoke, :process 5, :f :cas, :value [0 [2 1]]}
{:index 77, :time 492487830, :type :ok, :process 5, :f :cas, :value [0 [2 1]]}
{:index 78, :time 495323732, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 79, :time 498299359, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 80, :time 499205512, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 81, :time 501928476, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 82, :time 508381319, :type :invoke, :process 8, :f :cas, :value [0 [1 1]]}
{:index 83, :time 511795955, :type :ok, :process 8, :f :cas, :value [0 [1 1]]}
{:index 84, :time 517938588, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 85, :time 521470336, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 86, :time 523538836, :type :invoke, :process 5, :f :cas, :value [0 [2 1]]}
{:index 87, :time 526840672, :type :ok, :process 5, :f :cas, :value [0 [2 1]]}
{:index 88, :time 543909703, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 89, :time 547834545, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 90, :time 561766334, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 91, :time 565581703, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 92, :time 575007882, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 93, :time 579042255, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
{:index 94, :time 584160693, :type :invoke, :process 5, :f :cas, :value [0 [1 2]]}
{:index 95, :time 588029051, :type :ok, :process 5, :f :cas, :value [0 [1 2]]}
{:index 96, :time 593450393, :type :invoke, :process 5, :f :cas, :value [0 [0 0]]}
{:index 97, :time 596840495, :type :ok, :process 5, :f :cas, :value [0 [0 0]]}
{:index 98, :time 603005543, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 99, :time 606983078, :type :invoke, :process 6, :f :cas, :value [0 [0 4]]}
{:index 100, :time 607922690, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 101, :time 610324783, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 102, :time 611325726, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 103, :time 612446965, :type :ok, :process 6, :f :cas, :value [0 [0 4]]}
{:index 104, :time 614327102, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 105, :time 615865039, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 106, :time 616046452, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 107, :time 616778592, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 108, :time 619356892, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 109, :time 620221418, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 110, :time 628045142, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 111, :time 631607516, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 112, :time 634869739, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 113, :time 638345705, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 114, :time 650454106, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 115, :time 651373538, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 116, :time 654048573, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 117, :time 654922543, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 118, :time 658729880, :type :invoke, :process 5, :f :cas, :value [0 [3 4]]}
{:index 119, :time 662310761, :type :ok, :process 5, :f :cas, :value [0 [3 4]]}
{:index 120, :time 676192035, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 121, :time 677077313, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 122, :time 678384037, :type :invoke, :process 7, :f :cas, :value [0 [0 4]]}
{:index 123, :time 680109630, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 124, :time 680877828, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 125, :time 681678188, :type :ok, :process 7, :f :cas, :value [0 [0 4]]}
{:index 126, :time 694637460, :type :invoke, :process 8, :f :cas, :value [0 [2 3]]}
{:index 127, :time 698370773, :type :ok, :process 8, :f :cas, :value [0 [2 3]]}
{:index 128, :time 708404903, :type :invoke, :process 9, :f :write, :value [0 0]}
{:index 129, :time 711741420, :type :ok, :process 9, :f :write, :value [0 0]}
{:index 130, :time 714169806, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 131, :time 718049193, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 132, :time 723559990, :type :invoke, :process 5, :f :write, :value [0 2]}
{:index 133, :time 727345350, :type :ok, :process 5, :f :write, :value [0 2]}
{:index 134, :time 739062344, :type :invoke, :process 5, :f :cas, :value [0 [4 0]]}
{:index 135, :time 742529218, :type :ok, :process 5, :f :cas, :value [0 [4 0]]}
{:index 136, :time 758469230, :type :invoke, :process 5, :f :cas, :value [0 [4 0]]}
{:index 137, :time 762887342, :type :ok, :process 5, :f :cas, :value [0 [4 0]]}
{:index 138, :time 765930140, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 139, :time 769446667, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 140, :time 775006656, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 141, :time 778493518, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
{:index 142, :time 794220688, :type :invoke, :process 5, :f :cas, :value [0 [4 2]]}
{:index 143, :time 796148669, :type :ok, :process 5, :f :cas, :value [0 [4 2]]}
{:index 144, :time 812782542, :type :invoke, :process 6, :f :cas, :value [0 [2 2]]}
{:index 145, :time 815916325, :type :ok, :process 6, :f :cas, :value [0 [2 2]]}
{:index 146, :time 818112593, :type :invoke, :process 7, :f :write, :value [0 2]}
{:index 147, :time 820663035, :type :ok, :process 7, :f :write, :value [0 2]}
{:index 148, :time 835888548, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 149, :time 838528714, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 150, :time 845578659, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 151, :time 848057448, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 152, :time 863563942, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 153, :time 866299808, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 154, :time 872717231, :type :invoke, :process 5, :f :cas, :value [0 [1 0]]}
{:index 155, :time 874872771, :type :ok, :process 5, :f :cas, :value [0 [1 0]]}
{:index 156, :time 879231136, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 157, :time 880693187, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 158, :time 889260290, :type :invoke, :process 5, :f :cas, :value [0 [2 1]]}
{:index 159, :time 891251003, :type :ok, :process 5, :f :cas, :value [0 [2 1]]}
{:index 160, :time 895662498, :type :invoke, :process 5, :f :cas, :value [0 [4 4]]}
{:index 161, :time 897110719, :type :ok, :process 5, :f :cas, :value [0 [4 4]]}
{:index 162, :time 910863886, :type :invoke, :process 5, :f :cas, :value [0 [0 2]]}
{:index 163, :time 912818833, :type :ok, :process 5, :f :cas, :value [0 [0 2]]}
{:index 164, :time 915503163, :type :invoke, :process 5, :f :cas, :value [0 [3 4]]}
{:index 165, :time 917035620, :type :ok, :process 5, :f :cas, :value [0 [3 4]]}
{:index 166, :time 922657241, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 167, :time 924385458, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 168, :time 936004897, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 169, :time 938896232, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 170, :time 956251441, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 171, :time 959971043, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 172, :time 960160777, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 173, :time 962950536, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 174, :time 970503137, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 175, :time 973714865, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 176, :time 977318138, :type :invoke, :process 5, :f :cas, :value [0 [3 2]]}
{:index 177, :time 978861230, :type :invoke, :process 6, :f :cas, :value [0 [1 1]]}
{:index 178, :time 980336600, :type :ok, :process 5, :f :cas, :value [0 [3 2]]}
{:index 179, :time 981735902, :type :ok, :process 6, :f :cas, :value [0 [1 1]]}
{:index 180, :time 988429778, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 181, :time 991547896, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 182, :time 1004875891, :type :invoke, :process 5, :f :cas, :value [0 [4 3]]}
{:index 183, :time 1008262884, :type :ok, :process 5, :f :cas, :value [0 [4 3]]}
