{:index 0, :time 10544801, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 17149247, :type :invoke, :process 1, :f :cas, :value [0 [3 1]]}
{:index 2, :time 27612657, :type :ok, :process 1, :f :cas, :value [0 [3 1]]}
{:index 3, :time 28052668, :type :invoke, :process 1, :f :cas, :value [0 [3 3]]}
{:index 4, :time 29267449, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 5, :time 31447141, :type :ok, :process 1, :f :cas, :value [0 [3 3]]}
{:index 6, :time 48368775, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 7, :time 49931917, :type :invoke, :process 1, :f :cas, :value [0 [0 3]]}
{:index 8, :time 52207169, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 9, :time 52821543, :type :ok, :process 1, :f :cas, :value [0 [0 3]]}
{:index 10, :time 61292292, :type :invoke, :process 1, :f :cas, :value [0 [4 3]]}
{:index 11, :time 65877941, :type :ok, :process 1, :f :cas, :value [0 [4 3]]}
{:index 12, :time 72487290, :type :invoke, :process 1, :f :cas, :value [0 [3 2]]}
{:index 13, :time 76242303, :type :ok, :process 1, :f :cas, :value [0 [3 2]]}
{:index 14, :time 82626790, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 15, :time 86433782, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 16, :time 93799932, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 17, :time 97534932, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 18, :time 98128892, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 19, :time 99879021, :type :invoke, :process 1, :f :cas, :value [0 [0 1]]}
{:index 20, :time 102468846, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 21, :time 102899200, :type :ok, :process 1, :f :cas, :value [0 [0 1]]}
{:index 22, :time 120303982, :type :invoke, :process 1, :f :cas, :value [0 [0 2]]}
{:index 23, :time 122517528, :type :ok, :process 1, :f :cas, :value [0 [0 2]]}
{:index 24, :time 126742349, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 25, :time 131013507, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 26, :time 139399321, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 27, :time 143937188, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 28, :time 147905706, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 29, :time 151927821, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 30, :time 161540913, :type :invoke, :process 1, :f :cas, :value [0 [0 1]]}
{:index 31, :time 166442194, :type :ok, :process 1, :f :cas, :value [0 [0 1]]}
{:index 32, :time 170844778, :type :invoke, :process 1, :f :cas, :value [0 [3 3]]}
{:index 33, :time 173128937, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 34, :time 175263937, :type :ok, :process 1, :f :cas, :value [0 [3 3]]}
{:index 35, :time 177152303, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 36, :time 178930608, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 37, :time 182587044, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 38, :time 184254970, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 39, :time 184471114, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 40, :time 187058718, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 41, :time 187608073, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 42, :time 195421337, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 43, :time 201227319, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 44, :time 212517810, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 45, :time 218295858, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 46, :time 218711817, :type :invoke, :process 1, :f :cas, :value [0 [0 4]]}
{:index 47, :time 222869990, :type :ok, :process 1, :f :cas, :value [0 [0 4]]}
{:index 48, :time 236119362, :type :invoke, :process 1, :f :cas, :value [0 [2 2]]}
{:index 49, :time 238954829, :type :ok, :process 1, :f :cas, :value [0 [2 2]]}
{:index 50, :time 242486118, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 51, :time 247444233, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 52, :time 253879822, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 53, :time 258597058, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 54, :time 262627905, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 55, :time 264531746, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 56, :time 267561126, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 57, :time 268695822, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 58, :time 281220408, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 59, :time 284288050, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 60, :time 286254868, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 61, :time 290673071, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 62, :time 299203728, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 63, :time 300677369, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 64, :time 304597412, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 65, :time 305176822, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 66, :time 318754434, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 67, :time 321690386, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 68, :time 337007036, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 69, :time 338062377, :type :invoke, :process 1, :f :cas, :value [0 [1 3]]}
{:index 70, :time 342793381, :type :ok, :process 1, :f :cas, :value [0 [1 3]]}
{:index 71, :time 343450462, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 72, :time 344260116, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 73, :time 347017830, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 74, :time 358586812, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 75, :time 361722723, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 76, :time 364443166, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 77, :time 368857182, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 78, :time 376739538, :type :invoke, :process 1, :f :cas, :value [0 [4 0]]}
{:index 79, :time 383014026, :type :ok, :process 1, :f :cas, :value [0 [4 0]]}
{:index 80, :time 398045190, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 81, :time 400389560, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 82, :time 407233379, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 83, :time 409327751, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 84, :time 411505497, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 85, :time 413505124, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 86, :time 414020407, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 87, :time 416873003, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 88, :time 420552102, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 89, :time 424956683, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 90, :time 428185673, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 91, :time 432620599, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 92, :time 447890168, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 93, :time 450760420, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 94, :time 452074736, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 95, :time 456603720, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 96, :time 463684463, :type :invoke, :process 1, :f :cas, :value [0 [2 4]]}
{:index 97, :time 468437704, :type :ok, :process 1, :f :cas, :value [0 [2 4]]}
{:index 98, :time 477838638, :type :invoke, :process 1, :f :cas, :value [0 [4 1]]}
{:index 99, :time 483391629, :type :ok, :process 1, :f :cas, :value [0 [4 1]]}
{:index 100, :time 495882697, :type :invoke, :process 1, :f :cas, :value [0 [2 3]]}
{:index 101, :time 501166334, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 102, :time 502715839, :type :ok, :process 1, :f :cas, :value [0 [2 3]]}
{:index 103, :time 505183963, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 104, :time 515850722, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 105, :time 522092837, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 106, :time 535299544, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 107, :time 540340262, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 108, :time 542471545, :type :invoke, :process 1, :f :cas, :value [0 [3 4]]}
{:index 109, :time 547139174, :type :ok, :process 1, :f :cas, :value [0 [3 4]]}
{:index 110, :time 548766422, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 111, :time 553844577, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 112, :time 555862931, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 113, :time 560554692, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 114, :time 576857043, :type :invoke, :process 1, :f :cas, :value [0 [0 1]]}
{:index 115, :time 582612015, :type :ok, :process 1, :f :cas, :value [0 [0 1]]}
{:index 116, :time 582951244, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 117, :time 587831630, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 118, :time 594731573, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 119, :time 600053358, :type :ok, :process 1, :f :cas, :value [0 [4 4]]}
{:index 120, :time 610124478, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 121, :time 616002192, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 122, :time 621343208, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 123, :time 623844636, :type :invoke, :process 1, :f :write, :value [0 1]}
{:index 124, :time 626866883, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 125, :time 628571374, :type :ok, :process 1, :f :write, :value [0 1]}
{:index 126, :time 638679948, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 127, :time 640948147, :type :invoke, :process 1, :f :cas, :value [0 [3 4]]}
{:index 128, :time 644913128, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 129, :time 645735951, :type :ok, :process 1, :f :cas, :value [0 [3 4]]}
{:index 130, :time 650117208, :type :invoke, :process 1, :f :write, :value [0 2]}
{:index 131, :time 652930049, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 132, :time 655575980, :type :ok, :process 1, :f :write, :value [0 2]}
{:index 133, :time 657902727, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 134, :time 663625343, :type :invoke, :process 1, :f :cas, :value [0 [1 0]]}
{:index 135, :time 668255664, :type :ok, :process 1, :f :cas, :value [0 [1 0]]}
{:index 136, :time 671857585, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 137, :time 676773286, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 138, :time 688928600, :type :invoke, :process 1, :f :cas, :value [0 [2 0]]}
{:index 139, :time 690794138, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 140, :time 694930683, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 141, :time 695449273, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 142, :time 696873926, :type :ok, :process 1, :f :cas, :value [0 [2 0]]}
{:index 143, :time 696970324, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 144, :time 699562473, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 145, :time 700988264, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 146, :time 704763612, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 147, :time 708831117, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 148, :time 713600218, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 149, :time 714737230, :type :invoke, :process 1, :f :cas, :value [0 [1 1]]}
{:index 150, :time 718565306, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 151, :time 719054095, :type :ok, :process 1, :f :cas, :value [0 [1 1]]}
{:index 152, :time 732386463, :type :invoke, :process 1, :f :cas, :value [0 [4 0]]}
{:index 153, :time 735461236, :type :ok, :process 1, :f :cas, :value [0 [4 0]]}
{:index 154, :time 744687890, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 155, :time 749689231, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 156, :time 759951417, :type :invoke, :process 1, :f :cas, :value [0 [4 3]]}
{:index 157, :time 764668428, :type :ok, :process 1, :f :cas, :value [0 [4 3]]}
{:index 158, :time 778700103, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 159, :time 781215442, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 160, :time 788480270, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 161, :time 792029932, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 162, :time 799839070, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 163, :time 803363225, :type :invoke, :process 1, :f :cas, :value [0 [2 2]]}
{:index 164, :time 804723975, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 165, :time 806016666, :type :ok, :process 1, :f :cas, :value [0 [2 2]]}
{:index 166, :time 823893982, :type :invoke, :process 1, :f :cas, :value [0 [2 3]]}
{:index 167, :time 826946561, :type :ok, :process 1, :f :cas, :value [0 [2 3]]}
{:index 168, :time 830470012, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 169, :time 834612353, :type :invoke, :process 1, :f :write, :value [0 0]}
{:index 170, :time 835768414, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 171, :time 835978659, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 172, :time 838430060, :type :ok, :process 1, :f :write, :value [0 0]}
{:index 173, :time 840465467, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 174, :time 848028716, :type :invoke, :process 1, :f :cas, :value [0 [1 3]]}
{:index 175, :time 853254773, :type :ok, :process 1, :f :cas, :value [0 [1 3]]}
{:index 176, :time 867564339, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 177, :time 872402463, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 178, :time 887322732, :type :invoke, :process 1, :f :cas, :value [0 [4 4]]}
{:index 179, :time 892627963, :type :ok, :process 1, :f :cas, :value [0 [4 4]]}
{:index 180, :time 899165244, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 181, :time 903355103, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 182, :time 911543163, :type :invoke, :process 1, :f :cas, :value [0 [4 0]]}
{:index 183, :time 914876392, :type :ok, :process 1, :f :cas, :value [0 [4 0]]}
{:index 184, :time 916078417, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 185, :time 920111287, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 186, :time 935288856, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 187, :time 939126019, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 188, :time 952331154, :type :invoke, :process 1, :f :cas, :value [0 [3 0]]}
{:index 189, :time 957602706, :type :ok, :process 1, :f :cas, :value [0 [3 0]]}
{:index 190, :time 960260102, :type :invoke, :process 1, :f :write, :value [0 3]}
{:index 191, :time 963846820, :type :ok, :process 1, :f :write, :value [0 3]}
{:index 192, :time 967878540, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 193, :time 972188904, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 194, :time 980911502, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 195, :time 982749312, :type :invoke, :process 1, :f :write, :value [0 4]}
{:index 196, :time 985656577, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 197, :time 986972278, :type :ok, :process 1, :f :write, :value [0 4]}
{:index 198, :time 997435940, :type :invoke, :process 1, :f :cas, :value [0 [3 4]]}
{:index 199, :time 1002740193, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 200, :time 1004179928, :type :ok, :process 1, :f :cas, :value [0 [3 4]]}
{:index 201, :time 1007759814, :type :invoke, :process 1, :f :cas, :value [0 [0 0]]}
{:index 202, :time 1008479474, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 203, :time 1013250528, :type :ok, :process 1, :f :cas, :value [0 [0 0]]}
