{:index 0, :time 7889398, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 16896948, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 2, :time 25086921, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 3, :time 27347610, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 4, :time 40714774, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 5, :time 42949991, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 6, :time 51110308, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 7, :time 52774186, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 8, :time 56506522, :type :invoke, :process 5, :f :cas, :value [0 [0 0]]}
{:index 9, :time 58825906, :type :ok, :process 5, :f :cas, :value [0 [0 0]]}
{:index 10, :time 73933386, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 11, :time 76314844, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 12, :time 84036496, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 13, :time 84549274, :type :invoke, :process 7, :f :cas, :value [0 [1 1]]}
{:index 14, :time 86194920, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 15, :time 86955883, :type :ok, :process 7, :f :cas, :value [0 [1 1]]}
{:index 16, :time 102754046, :type :invoke, :process 8, :f :cas, :value [0 [1 1]]}
{:index 17, :time 104375913, :type :invoke, :process 9, :f :cas, :value [0 [1 1]]}
{:index 18, :time 106008363, :type :ok, :process 8, :f :cas, :value [0 [1 1]]}
{:index 19, :time 107056763, :type :ok, :process 9, :f :cas, :value [0 [1 1]]}
{:index 20, :time 108077601, :type :invoke, :process 5, :f :write, :value [0 1]}
{:index 21, :time 110490070, :type :ok, :process 5, :f :write, :value [0 1]}
{:index 22, :time 119372431, :type :invoke, :process 5, :f :cas, :value [0 [4 3]]}
{:index 23, :time 123010821, :type :ok, :process 5, :f :cas, :value [0 [4 3]]}
{:index 24, :time 123158732, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 25, :time 126062170, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 26, :time 128505712, :type :invoke, :process 5, :f :write, :value [0 3]}
{:index 27, :time 132279899, :type :ok, :process 5, :f :write, :value [0 3]}
{:index 28, :time 148356092, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 29, :time 153698154, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 30, :time 155605077, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 31, :time 159147843, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 32, :time 161090496, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 33, :time 163607696, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 34, :time 178980284, :type :invoke, :process 6, :f :cas, :value [0 [0 2]]}
{:index 35, :time 185707122, :type :ok, :process 6, :f :cas, :value [0 [0 2]]}
{:index 36, :time 187365109, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 37, :time 191682730, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 38, :time 192038072, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 39, :time 196602893, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 40, :time 207146045, :type :invoke, :process 9, :f :cas, :value [0 [4 3]]}
{:index 41, :time 212044428, :type :ok, :process 9, :f :cas, :value [0 [4 3]]}
{:index 42, :time 226727113, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 43, :time 231441260, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 44, :time 231687904, :type :invoke, :process 5, :f :cas, :value [0 [0 1]]}
{:index 45, :time 233225692, :type :invoke, :process 6, :f :write, :value [0 1]}
{:index 46, :time 235630963, :type :ok, :process 5, :f :cas, :value [0 [0 1]]}
{:index 47, :time 237652905, :type :ok, :process 6, :f :write, :value [0 1]}
{:index 48, :time 249010930, :type :invoke, :process 5, :f :write, :value [0 3]}
{:index 49, :time 252939884, :type :invoke, :process 6, :f :cas, :value [0 [4 1]]}
{:index 50, :time 253759118, :type :ok, :process 5, :f :write, :value [0 3]}
{:index 51, :time 257225530, :type :ok, :process 6, :f :cas, :value [0 [4 1]]}
{:index 52, :time 265148592, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 53, :time 269737080, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 54, :time 271914210, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 55, :time 274518823, :type :invoke, :process 6, :f :cas, :value [0 [4 0]]}
{:index 56, :time 276115568, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 57, :time 278407932, :type :ok, :process 6, :f :cas, :value [0 [4 0]]}
{:index 58, :time 283669733, :type :invoke, :process 7, :f :write, :value [0 3]}
{:index 59, :time 287815955, :type :ok, :process 7, :f :write, :value [0 3]}
{:index 60, :time 288041242, :type :invoke, :process 8, :f :write, :value [0 1]}
{:index 61, :time 293016575, :type :ok, :process 8, :f :write, :value [0 1]}
{:index 62, :time 305593316, :type :invoke, :process 9, :f :cas, :value [0 [2 0]]}
{:index 63, :time 309844220, :type :ok, :process 9, :f :cas, :value [0 [2 0]]}
{:index 64, :time 310097346, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 65, :time 314065712, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 66, :time 319805464, :type :invoke, :process 5, :f :write, :value [0 4]}
{:index 67, :time 323855320, :type :ok, :process 5, :f :write, :value [0 4]}
{:index 68, :time 331227494, :type :invoke, :process 5, :f :cas, :value [0 [3 2]]}
{:index 69, :time 335341903, :type :ok, :process 5, :f :cas, :value [0 [3 2]]}
{:index 70, :time 348770975, :type :invoke, :process 5, :f :write, :value [0 2]}
{:index 71, :time 352993293, :type :ok, :process 5, :f :write, :value [0 2]}
{:index 72, :time 355758717, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 73, :time 358218560, :type :invoke, :process 5, :f :write, :value [0 3]}
{:index 74, :time 360056639, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 75, :time 361730185, :type :ok, :process 5, :f :write, :value [0 3]}
{:index 76, :time 377104125, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 77, :time 381351136, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 78, :time 384392113, :type :invoke, :process 6, :f :write, :value [0 3]}
{:index 79, :time 388702065, :type :ok, :process 6, :f :write, :value [0 3]}
{:index 80, :time 390769941, :type :invoke, :process 7, :f :write, :value [0 2]}
{:index 81, :time 394346526, :type :ok, :process 7, :f :write, :value [0 2]}
{:index 82, :time 410863638, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 83, :time 414446879, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 84, :time 414696444, :type :invoke, :process 9, :f :cas, :value [0 [2 3]]}
{:index 85, :time 418495711, :type :ok, :process 9, :f :cas, :value [0 [2 3]]}
{:index 86, :time 422429717, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 87, :time 425943874, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 88, :time 430581559, :type :invoke, :process 5, :f :cas, :value [0 [2 4]]}
{:index 89, :time 434123868, :type :ok, :process 5, :f :cas, :value [0 [2 4]]}
{:index 90, :time 442803128, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 91, :time 446736907, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 92, :time 457123879, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 93, :time 461191021, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 94, :time 463945522, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 95, :time 467340573, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 96, :time 484193066, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 97, :time 488248046, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 98, :time 491900072, :type :invoke, :process 5, :f :cas, :value [0 [0 1]]}
{:index 99, :time 495605877, :type :ok, :process 5, :f :cas, :value [0 [0 1]]}
{:index 100, :time 506143701, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 101, :time 509881890, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 102, :time 522382439, :type :invoke, :process 7, :f :cas, :value [0 [1 3]]}
{:index 103, :time 523106322, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 104, :time 526578397, :type :ok, :process 7, :f :cas, :value [0 [1 3]]}
{:index 105, :time 526905488, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 106, :time 542430191, :type :invoke, :process 9, :f :write, :value [0 4]}
{:index 107, :time 546677801, :type :ok, :process 9, :f :write, :value [0 4]}
{:index 108, :time 555527163, :type :invoke, :process 5, :f :cas, :value [0 [4 0]]}
{:index 109, :time 559170306, :type :ok, :process 5, :f :cas, :value [0 [4 0]]}
{:index 110, :time 567006576, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 111, :time 571348798, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 112, :time 578639750, :type :invoke, :process 5, :f :write, :value [0 4]}
{:index 113, :time 583772104, :type :ok, :process 5, :f :write, :value [0 4]}
{:index 114, :time 586978339, :type :invoke, :process 5, :f :cas, :value [0 [3 4]]}
{:index 115, :time 590730942, :type :ok, :process 5, :f :cas, :value [0 [3 4]]}
{:index 116, :time 599748798, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 117, :time 603519564, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 118, :time 606361167, :type :invoke, :process 4, :f :read, :value [0 nil]}
{:index 119, :time 609633345, :type :ok, :process 4, :f :read, :value [0 0]}
{:index 120, :time 615037781, :type :invoke, :process 5, :f :cas, :value [0 [1 0]]}
{:index 121, :time 618732039, :type :ok, :process 5, :f :cas, :value [0 [1 0]]}
{:index 122, :time 627904253, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 123, :time 631691297, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 124, :time 638905363, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 125, :time 640223849, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 126, :time 642203159, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 127, :time 643684162, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 128, :time 654630963, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 129, :time 657803324, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 130, :time 662852678, :type :invoke, :process 5, :f :cas, :value [0 [4 1]]}
{:index 131, :time 666289905, :type :ok, :process 5, :f :cas, :value [0 [4 1]]}
{:index 132, :time 679851808, :type :invoke, :process 5, :f :write, :value [0 0]}
{:index 133, :time 683366123, :type :ok, :process 5, :f :write, :value [0 0]}
{:index 134, :time 695518984, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 135, :time 699110018, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 136, :time 707264716, :type :invoke, :process 5, :f :write, :value [0 3]}
{:index 137, :time 710694564, :type :ok, :process 5, :f :write, :value [0 3]}
{:index 138, :time 720615019, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 139, :time 723055485, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 140, :time 727185957, :type :invoke, :process 5, :f :cas, :value [0 [4 3]]}
{:index 141, :time 729798296, :type :ok, :process 5, :f :cas, :value [0 [4 3]]}
{:index 142, :time 746503648, :type :invoke, :process 5, :f :write, :value [0 2]}
{:index 143, :time 748660241, :type :ok, :process 5, :f :write, :value [0 2]}
{:index 144, :time 756439600, :type :invoke, :process 6, :f :write, :value [0 2]}
{:index 145, :time 758282028, :type :ok, :process 6, :f :write, :value [0 2]}
{:index 146, :time 767718210, :type :invoke, :process 7, :f :cas, :value [0 [1 0]]}
{:index 147, :time 769326333, :type :ok, :process 7, :f :cas, :value [0 [1 0]]}
{:index 148, :time 772741586, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 149, :time 774599159, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 150, :time 783891101, :type :invoke, :process 9, :f :cas, :value [0 [1 0]]}
{:index 151, :time 785970616, :type :ok, :process 9, :f :cas, :value [0 [1 0]]}
{:index 152, :time 799606579, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 153, :time 800946832, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 154, :time 801354870, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 155, :time 802203702, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 156, :time 802625308, :type :ok, :process 1, :f :read, :value [0 0]}
{:index 157, :time 803492224, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 158, :time 804192931, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 159, :time 805128561, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 160, :time 820872208, :type :invoke, :process 5, :f :cas, :value [0 [1 3]]}
{:index 161, :time 822667242, :type :ok, :process 5, :f :cas, :value [0 [1 3]]}
{:index 162, :time 832399457, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 163, :time 833910417, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 164, :time 847588833, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 165, :time 849632414, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 166, :time 850134811, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 167, :time 851923178, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 168, :time 863431160, :type :invoke, :process 7, :f :cas, :value [0 [1 0]]}
{:index 169, :time 866597401, :type :ok, :process 7, :f :cas, :value [0 [1 0]]}
{:index 170, :time 878079765, :type :invoke, :process 8, :f :cas, :value [0 [0 4]]}
{:index 171, :time 881527697, :type :ok, :process 8, :f :cas, :value [0 [0 4]]}
{:index 172, :time 892066560, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 173, :time 895326540, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 174, :time 909555222, :type :invoke, :process 5, :f :cas, :value [0 [3 0]]}
{:index 175, :time 913089043, :type :ok, :process 5, :f :cas, :value [0 [3 0]]}
{:index 176, :time 914269696, :type :invoke, :process 5, :f :cas, :value [0 [2 0]]}
{:index 177, :time 917204177, :type :ok, :process 5, :f :cas, :value [0 [2 0]]}
{:index 178, :time 925615446, :type :invoke, :process 5, :f :write, :value [0 4]}
{:index 179, :time 929273642, :type :ok, :process 5, :f :write, :value [0 4]}
{:index 180, :time 940528663, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 181, :time 943937222, :type :ok, :process 2, :f :read, :value [0 0]}
{:index 182, :time 950023828, :type :invoke, :process 3, :f :read, :value [0 nil]}
{:index 183, :time 953317566, :type :ok, :process 3, :f :read, :value [0 0]}
{:index 184, :time 953504914, :type :invoke, :process 5, :f :write, :value [0 3]}
{:index 185, :time 955427062, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 186, :time 956500429, :type :ok, :process 5, :f :write, :value [0 3]}
{:index 187, :time 958357000, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 188, :time 968722290, :type :invoke, :process 6, :f :cas, :value [0 [4 1]]}
{:index 189, :time 972153800, :type :ok, :process 6, :f :cas, :value [0 [4 1]]}
{:index 190, :time 981482084, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 191, :time 984905964, :type :ok, :process 0, :f :read, :value [0 0]}
{:index 192, :time 992880447, :type :invoke, :process 8, :f :cas, :value [0 [0 4]]}
{:index 193, :time 995996076, :type :ok, :process 8, :f :cas, :value [0 [0 4]]}
{:index 194, :time 1002705872, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 195, :time 1005878612, :type :ok, :process 0, :f :read, :value [0 0]}
