{:index 0, :time 13847610, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 23314875, :type :ok, :process 0, :f :read, :value 0}
{:index 2, :time 30468239, :type :invoke, :process 5, :f :write, :value 4}
{:index 3, :time 32301814, :type :ok, :process 5, :f :write, :value 4}
{:index 4, :time 50633404, :type :invoke, :process 5, :f :cas, :value [3 2]}
{:index 5, :time 52571298, :type :ok, :process 5, :f :cas, :value [3 2]}
{:index 6, :time 52643686, :type :invoke, :process 3, :f :read, :value nil}
{:index 7, :time 54267800, :type :ok, :process 3, :f :read, :value 0}
{:index 8, :time 72571031, :type :invoke, :process 5, :f :write, :value 3}
{:index 9, :time 74139214, :type :ok, :process 5, :f :write, :value 3}
{:index 10, :time 74539308, :type :invoke, :process 0, :f :read, :value nil}
{:index 11, :time 75609552, :type :ok, :process 0, :f :read, :value 0}
{:index 12, :time 77234964, :type :invoke, :process 0, :f :read, :value nil}
{:index 13, :time 79044433, :type :ok, :process 0, :f :read, :value 0}
{:index 14, :time 79751198, :type :invoke, :process 7, :f :cas, :value [3 3]}
{:index 15, :time 82739441, :type :ok, :process 7, :f :cas, :value [3 3]}
{:index 16, :time 93262157, :type :invoke, :process 8, :f :write, :value 3}
{:index 17, :time 93686259, :type :invoke, :process 9, :f :cas, :value [0 1]}
{:index 18, :time 94754917, :type :ok, :process 8, :f :write, :value 3}
{:index 19, :time 95190021, :type :ok, :process 9, :f :cas, :value [0 1]}
{:index 20, :time 107262142, :type :invoke, :process 0, :f :read, :value nil}
{:index 21, :time 108789416, :type :ok, :process 0, :f :read, :value 0}
{:index 22, :time 114732615, :type :invoke, :process 0, :f :read, :value nil}
{:index 23, :time 116075780, :type :ok, :process 0, :f :read, :value 0}
{:index 24, :time 128807085, :type :invoke, :process 5, :f :write, :value 2}
{:index 25, :time 130264534, :type :ok, :process 5, :f :write, :value 2}
{:index 26, :time 144989501, :type :invoke, :process 5, :f :cas, :value [1 0]}
{:index 27, :time 147296147, :type :ok, :process 5, :f :cas, :value [1 0]}
{:index 28, :time 164982932, :type :invoke, :process 5, :f :write, :value 0}
{:index 29, :time 167914251, :type :ok, :process 5, :f :write, :value 0}
{:index 30, :time 182030334, :type :invoke, :process 5, :f :write, :value 1}
{:index 31, :time 186297703, :type :ok, :process 5, :f :write, :value 1}
{:index 32, :time 189397697, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 193278907, :type :ok, :process 0, :f :read, :value 0}
{:index 34, :time 202245316, :type :invoke, :process 6, :f :cas, :value [4 0]}
{:index 35, :time 208338250, :type :ok, :process 6, :f :cas, :value [4 0]}
{:index 36, :time 216971965, :type :invoke, :process 7, :f :write, :value 4}
{:index 37, :time 221653462, :type :ok, :process 7, :f :write, :value 4}
{:index 38, :time 226795935, :type :invoke, :process 8, :f :write, :value 4}
{:index 39, :time 231078547, :type :ok, :process 8, :f :write, :value 4}
{:index 40, :time 239143653, :type :invoke, :process 0, :f :read, :value nil}
{:index 41, :time 241927179, :type :invoke, :process 1, :f :read, :value nil}
{:index 42, :time 243427183, :type :ok, :process 0, :f :read, :value 0}
{:index 43, :time 247078860, :type :ok, :process 1, :f :read, :value 0}
{:index 44, :time 253271360, :type :invoke, :process 0, :f :read, :value nil}
{:index 45, :time 257404080, :type :ok, :process 0, :f :read, :value 0}
{:index 46, :time 263294143, :type :invoke, :process 1, :f :read, :value nil}
{:index 47, :time 267188940, :type :ok, :process 1, :f :read, :value 0}
{:index 48, :time 283793987, :type :invoke, :process 2, :f :read, :value nil}
{:index 49, :time 289662060, :type :ok, :process 2, :f :read, :value 0}
{:index 50, :time 293760811, :type :invoke, :process 3, :f :read, :value nil}
{:index 51, :time 297825864, :type :ok, :process 3, :f :read, :value 0}
{:index 52, :time 303566770, :type :invoke, :process 4, :f :read, :value nil}
{:index 53, :time 308445295, :type :ok, :process 4, :f :read, :value 0}
{:index 54, :time 312476368, :type :invoke, :process 0, :f :read, :value nil}
{:index 55, :time 316559223, :type :ok, :process 0, :f :read, :value 0}
{:index 56, :time 325481199, :type :invoke, :process 6, :f :cas, :value [2 4]}
{:index 57, :time 329995350, :type :ok, :process 6, :f :cas, :value [2 4]}
{:index 58, :time 339157105, :type :invoke, :process 0, :f :read, :value nil}
{:index 59, :time 343360034, :type :ok, :process 0, :f :read, :value 0}
{:index 60, :time 343652961, :type :invoke, :process 8, :f :cas, :value [4 0]}
{:index 61, :time 348183869, :type :ok, :process 8, :f :cas, :value [4 0]}
{:index 62, :time 359654973, :type :invoke, :process 0, :f :read, :value nil}
{:index 63, :time 363912168, :type :ok, :process 0, :f :read, :value 0}
{:index 64, :time 365049754, :type :invoke, :process 0, :f :read, :value nil}
{:index 65, :time 368919088, :type :ok, :process 0, :f :read, :value 0}
{:index 66, :time 382035242, :type :invoke, :process 0, :f :read, :value nil}
{:index 67, :time 386572349, :type :ok, :process 0, :f :read, :value 0}
{:index 68, :time 393346816, :type :invoke, :process 5, :f :write, :value 1}
{:index 69, :time 396865497, :type :ok, :process 5, :f :write, :value 1}
{:index 70, :time 402993968, :type :invoke, :process 2, :f :read, :value nil}
{:index 71, :time 407029798, :type :ok, :process 2, :f :read, :value 0}
{:index 72, :time 408253362, :type :invoke, :process 5, :f :write, :value 4}
{:index 73, :time 411746636, :type :ok, :process 5, :f :write, :value 4}
{:index 74, :time 413319266, :type :invoke, :process 5, :f :cas, :value [0 1]}
{:index 75, :time 416788072, :type :ok, :process 5, :f :cas, :value [0 1]}
{:index 76, :time 433955163, :type :invoke, :process 0, :f :read, :value nil}
{:index 77, :time 437900882, :type :ok, :process 0, :f :read, :value 0}
{:index 78, :time 446044813, :type :invoke, :process 0, :f :read, :value nil}
{:index 79, :time 449709053, :type :ok, :process 0, :f :read, :value 0}
{:index 80, :time 452908721, :type :invoke, :process 7, :f :cas, :value [2 2]}
{:index 81, :time 453633739, :type :invoke, :process 8, :f :write, :value 3}
{:index 82, :time 456591994, :type :ok, :process 7, :f :cas, :value [2 2]}
{:index 83, :time 457680849, :type :ok, :process 8, :f :write, :value 3}
{:index 84, :time 464405590, :type :invoke, :process 9, :f :cas, :value [3 4]}
{:index 85, :time 468404313, :type :ok, :process 9, :f :cas, :value [3 4]}
{:index 86, :time 483277755, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 485542138, :type :invoke, :process 5, :f :write, :value 1}
{:index 88, :time 486551977, :type :invoke, :process 6, :f :write, :value 4}
{:index 89, :time 487382201, :type :ok, :process 0, :f :read, :value 0}
{:index 90, :time 489345572, :type :ok, :process 5, :f :write, :value 1}
{:index 91, :time 490254684, :type :ok, :process 6, :f :write, :value 4}
{:index 92, :time 496326235, :type :invoke, :process 2, :f :read, :value nil}
{:index 93, :time 500004204, :type :ok, :process 2, :f :read, :value 0}
{:index 94, :time 508028939, :type :invoke, :process 3, :f :read, :value nil}
{:index 95, :time 511664337, :type :ok, :process 3, :f :read, :value 0}
{:index 96, :time 526834880, :type :invoke, :process 5, :f :write, :value 3}
{:index 97, :time 530733819, :type :ok, :process 5, :f :write, :value 3}
{:index 98, :time 543751505, :type :invoke, :process 0, :f :read, :value nil}
{:index 99, :time 547791401, :type :ok, :process 0, :f :read, :value 0}
{:index 100, :time 550494357, :type :invoke, :process 0, :f :read, :value nil}
{:index 101, :time 553746139, :type :ok, :process 0, :f :read, :value 0}
{:index 102, :time 559240688, :type :invoke, :process 0, :f :read, :value nil}
{:index 103, :time 563021840, :type :ok, :process 0, :f :read, :value 0}
{:index 104, :time 576332065, :type :invoke, :process 8, :f :cas, :value [3 2]}
{:index 105, :time 579858354, :type :ok, :process 8, :f :cas, :value [3 2]}
{:index 106, :time 582948486, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 586901418, :type :ok, :process 0, :f :read, :value 0}
{:index 108, :time 593911386, :type :invoke, :process 0, :f :read, :value nil}
{:index 109, :time 596081014, :type :invoke, :process 1, :f :read, :value nil}
{:index 110, :time 598457903, :type :ok, :process 0, :f :read, :value 0}
{:index 111, :time 600191910, :type :ok, :process 1, :f :read, :value 0}
{:index 112, :time 604942766, :type :invoke, :process 5, :f :cas, :value [2 3]}
{:index 113, :time 608628872, :type :ok, :process 5, :f :cas, :value [2 3]}
{:index 114, :time 611098954, :type :invoke, :process 2, :f :read, :value nil}
{:index 115, :time 614637144, :type :ok, :process 2, :f :read, :value 0}
{:index 116, :time 627646160, :type :invoke, :process 3, :f :read, :value nil}
{:index 117, :time 631207280, :type :ok, :process 3, :f :read, :value 0}
{:index 118, :time 641980477, :type :invoke, :process 5, :f :write, :value 2}
{:index 119, :time 645682389, :type :invoke, :process 6, :f :cas, :value [3 0]}
{:index 120, :time 646333367, :type :ok, :process 5, :f :write, :value 2}
{:index 121, :time 648900570, :type :ok, :process 6, :f :cas, :value [3 0]}
{:index 122, :time 664775813, :type :invoke, :process 0, :f :read, :value nil}
{:index 123, :time 668819863, :type :ok, :process 0, :f :read, :value 0}
{:index 124, :time 673754895, :type :invoke, :process 0, :f :read, :value nil}
{:index 125, :time 676862394, :type :ok, :process 0, :f :read, :value 0}
{:index 126, :time 686032560, :type :invoke, :process 0, :f :read, :value nil}
{:index 127, :time 689936395, :type :ok, :process 0, :f :read, :value 0}
{:index 128, :time 704571334, :type :invoke, :process 0, :f :read, :value nil}
{:index 129, :time 708344279, :type :ok, :process 0, :f :read, :value 0}
{:index 130, :time 723427304, :type :invoke, :process 5, :f :write, :value 2}
{:index 131, :time 727228245, :type :ok, :process 5, :f :write, :value 2}
{:index 132, :time 733362119, :type :invoke, :process 0, :f :read, :value nil}
{:index 133, :time 737016248, :type :ok, :process 0, :f :read, :value 0}
{:index 134, :time 737206306, :type :invoke, :process 1, :f :read, :value nil}
{:index 135, :time 740230754, :type :ok, :process 1, :f :read, :value 0}
{:index 136, :time 751115441, :type :invoke, :process 5, :f :write, :value 4}
{:index 137, :time 754131062, :type :ok, :process 5, :f :write, :value 4}
{:index 138, :time 770936748, :type :invoke, :process 3, :f :read, :value nil}
{:index 139, :time 774742948, :type :ok, :process 3, :f :read, :value 0}
{:index 140, :time 785224617, :type :invoke, :process 4, :f :read, :value nil}
{:index 141, :time 788797374, :type :ok, :process 4, :f :read, :value 0}
{:index 142, :time 803374016, :type :invoke, :process 5, :f :cas, :value [0 3]}
{:index 143, :time 805815334, :type :ok, :process 5, :f :cas, :value [0 3]}
{:index 144, :time 809021470, :type :invoke, :process 0, :f :read, :value nil}
{:index 145, :time 811424071, :type :ok, :process 0, :f :read, :value 0}
{:index 146, :time 821277371, :type :invoke, :process 0, :f :read, :value nil}
{:index 147, :time 824021207, :type :ok, :process 0, :f :read, :value 0}
{:index 148, :time 840931646, :type :invoke, :process 8, :f :write, :value 3}
{:index 149, :time 843471174, :type :ok, :process 8, :f :write, :value 3}
{:index 150, :time 852459939, :type :invoke, :process 9, :f :write, :value 3}
{:index 151, :time 855208249, :type :ok, :process 9, :f :write, :value 3}
{:index 152, :time 862412133, :type :invoke, :process 5, :f :cas, :value [1 2]}
{:index 153, :time 865438974, :type :ok, :process 5, :f :cas, :value [1 2]}
{:index 154, :time 867555718, :type :invoke, :process 0, :f :read, :value nil}
{:index 155, :time 870669152, :type :ok, :process 0, :f :read, :value 0}
{:index 156, :time 875256845, :type :invoke, :process 1, :f :read, :value nil}
{:index 157, :time 877843713, :type :invoke, :process 5, :f :cas, :value [3 0]}
{:index 158, :time 878426095, :type :ok, :process 1, :f :read, :value 0}
{:index 159, :time 880711834, :type :ok, :process 5, :f :cas, :value [3 0]}
{:index 160, :time 894275519, :type :invoke, :process 3, :f :read, :value nil}
{:index 161, :time 897384301, :type :ok, :process 3, :f :read, :value 0}
{:index 162, :time 907924900, :type :invoke, :process 5, :f :cas, :value [2 3]}
{:index 163, :time 911082458, :type :ok, :process 5, :f :cas, :value [2 3]}
{:index 164, :time 923449073, :type :invoke, :process 0, :f :read, :value nil}
{:index 165, :time 926491281, :type :ok, :process 0, :f :read, :value 0}
{:index 166, :time 936920155, :type :invoke, :process 6, :f :cas, :value [1 3]}
{:index 167, :time 940017009, :type :ok, :process 6, :f :cas, :value [1 3]}
{:index 168, :time 945145865, :type :invoke, :process 0, :f :read, :value nil}
{:index 169, :time 948165814, :type :ok, :process 0, :f :read, :value 0}
{:index 170, :time 949618795, :type :invoke, :process 0, :f :read, :value nil}
{:index 171, :time 952527763, :type :ok, :process 0, :f :read, :value 0}
{:index 172, :time 955327434, :type :invoke, :process 9, :f :write, :value 0}
{:index 173, :time 957470807, :type :ok, :process 9, :f :write, :value 0}
{:index 174, :time 957579832, :type :invoke, :process 0, :f :read, :value nil}
{:index 175, :time 959814051, :type :ok, :process 0, :f :read, :value 0}
{:index 176, :time 974802185, :type :invoke, :process 0, :f :read, :value nil}
{:index 177, :time 976324000, :type :ok, :process 0, :f :read, :value 0}
{:index 178, :time 978492315, :type :invoke, :process 5, :f :write, :value 2}
{:index 179, :time 980023141, :type :ok, :process 5, :f :write, :value 2}
{:index 180, :time 988267439, :type :invoke, :process 2, :f :read, :value nil}
{:index 181, :time 989586543, :type :ok, :process 2, :f :read, :value 0}
{:index 182, :time 995890773, :type :invoke, :process 5, :f :write, :value 1}
{:index 183, :time 996522033, :type :invoke, :process 4, :f :read, :value nil}
{:index 184, :time 997113984, :type :ok, :process 5, :f :write, :value 1}
{:index 185, :time 997617264, :type :ok, :process 4, :f :read, :value 0}
{:index 186, :time 1003097250, :type :invoke, :process 5, :f :cas, :value [4 3]}
{:index 187, :time 1004257751, :type :ok, :process 5, :f :cas, :value [4 3]}
